/* Global */

html {
width: 100%;
height: 100%;
}

body {  /*the outer layer of the site and global style attributes*/
width: 100%;
height: 100%;
font-family: "Lato", "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0px;
overflow: hidden;
background: #2f353f;
}

a {
color: inherit;
text-decoration: none;
}

input {
    outline: none;
}

.clear {
clear: both;
}

.img-scaled {
width: 100%;
}

.img-scaled-wh {
width: 100%;
height: 100%;
}

.img-scaled-h {
height: 100%;
}

.hidden {
    display: none;
}

#data {
    display: none;
}

#csrf {
	display: none;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
}